#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

label input {
  display: block;
  margin: 0px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.modal-button {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff
}

h1, p{
    margin-block-start: 10px;
}

textarea{
    width: 100%;
}