
button {
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    border: 2px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 20px;
  }
  
  button:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
  }
  
  button:focus {
    outline: none;
  }
  
  button:active {
    background-color: #e0e0e0; /* Slightly darker grey on click */
  }