body {
    margin-top: 80px;
}

.profile-dropdown {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 10px;
    border-radius: 4px;
  }
  
  .profile-dropdown.hidden {
    display: none;
  }
  
  .profile-dropdown li {
    padding: 8px 16px;
  }
  
  .profile-dropdown li button{
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    border: 2px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .profile-dropdown li button:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
  }

  .profile-dropdown li button:focus {
    outline: none;
  }

  .profile-dropdown li button:active {
    background-color: #e0e0e0; /* Slightly darker grey on click */
  }
  
  .profile-dropdown li button:hover {
    background-color: #f1f1f1;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    margin: 0px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .logo {
    height: 50px;
  }
  
  .app-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px;
  }

  .nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav-right button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    margin: 0px;
  }

  .nav-left{
    display: flex;
    align-items: center;
  }

  .profile-dropdown .thisisbutton li{
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    border: 2px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 20px;
  }

  .profile-dropdown .thisisbutton li:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
  }

  .profile-dropdown .thisisbutton li:focus {
    outline: none;
  }

  .profile-dropdown .thisisbutton li:active {
    background-color: #e0e0e0; /* Slightly darker grey on click */
  }
  
  .profile-dropdown .thisisbutton li:hover {
    background-color: #f1f1f1;
  }